body{
    font-family: 'Rubik', sans-serif;
}

.app-wrapper{
    border-top: 10px solid #37e8c8;
}

.app-container{
    padding: 1em 0;
    width: 1170px;
    margin: 0 auto;
}

.app-width-adjust{
    width: 50%;
}

.app-header{
    font-weight: 500;
    margin-top: 4em;
}

.app-subtext{
    color: #767676;
}

.tags-wrapper{
    margin-top: 3em;
}

.tag-input-wrapper{
    display: flex;
    position: relative;
}

.tag-input-container{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.tag-input-container label{
    font-size: 0.8em;
    margin-bottom: 1em;
}

.tag-input-container input{
    padding: 0.6em;
}

.add-tag-wrapper{
    flex: 1;
    display: flex;
    align-items: flex-end;
}

button{
    border: none;
    padding: 0.6em 1em;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}

.add-tag-button{
    margin-left: 1em;
    background-color: #f0f3fe;
    color: #3871ff;
    flex: 1;
}

.submit-tags-wrapper{

}

.submit-tags-button{
    color: #fff;
    background-color: #3871ff;
    width: 100%;
    margin-top: 1em;
}

.tags-list-wrapper{
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
}

.tag-wrapper{
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0.6em 1em;
    background-color: #36eacd;
    margin-right: 1em;
    margin-bottom: 1em;
}

.tag-wrapper .tag-name{
    margin-right: 0.6em;
}

.tag-wrapper .delete-tag{
    background-color: #3d6966;
    border-radius: 50%;
    width: 1.1em;
    height: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.error-text{
    font-size: 0.8em;
    margin-top: 0.4em;
}

.hero-text-wrapper {
    width: 50%;
    margin-top: 4em;
    border-top: 10px solid #37e8c8;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    position: relative;
}


.hero-title{
    width: 40%;
    margin: 0 auto 4em;
}

.hero-title .hero-hours{
    font-size: 14em;
    color: #007ef9;
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 20px;
}

.hero-title .hero-subtext{
    margin-top: -0.6em;
    font-size: 5em;
    font-weight: 500;
    text-transform: uppercase;
}

.hero-text{
    margin: 2em auto;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-flex;
    flex-direction: column;
}

.hero-text > div{
    text-align: justify;
    margin-bottom: 10px;
}

.hero-text .hero-lg{
    font-size: 1.5em;
}

.hero-text .hero-md{
    font-size: 1.24em;
}

.hero-text .hero-sm{
    font-size: 1em;
}

.hero-text .hero-xs{
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

.hero-text .line{
    margin-left: 1em;
    height: 1.2em;
    flex: 1;
    background-color: black;
}

.hero-bg{
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-bg > div{
    position: absolute;
}

.hero-bg .square-1{
    padding: 4px;
    border: 10px solid #0264f0;
    top: 1em;
    left: 7em;
    transform: rotate(45deg);
}

.hero-bg .square-2{
    padding: 20px;
    border: 14px solid #f20042;
    top: 8em;
    left: 3em;
    transform: rotate(80deg);
}

.hero-bg .square-3{
    border: 8px solid #fc7098;
    top: 1em;
    right: 10em;
}

.hero-bg .square-4{
    padding: 10px;
    border: 12px solid #fc7098;
    top: 6em;
    right: 1em;
}


.hero-bg .square-5{
    border: 6px solid #1f65c2;
    top: 14em;
    right: 7em;
    transform: rotate(45deg);
}

.hero-bg .circle-1{
    padding: 40px;
    border-radius: 50%;
    border: 16px solid #f3b11f;
    top: 18em;
    right: 5em;
    filter: blur(6px);
}